<template>
  <div class="col-lg-3">
    
    <div class="adblock p-2">ads here</div>
  </div>
 
</template>

<style>

.adblock{
  
  height:600px;
  width:300px;
  float:right;
  margin-top:100px;
}

</style>

