<template>
  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10 mx-auto">
    
    <div class="adblockmobile">ads here</div>
  </div>
 
</template>

<style>

.adblockmobile{
  height:50px;
  width:320px;
  border:1px solid black;
  margin-top:100px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

</style>

