<template>


  <div class="col-xl-7 col-lg-10 col-md-10 col-sm-10 col-xs-10 mx-auto text-center p-4">
    <div class="row">
      <ul class="about_page list-group">
        <li class="list-group-item"><h1>What is newsasaurus?</h1></li>
        <li class="list-group-item">Newsasaurus is a different way of presenting aggregated news data.</li>
        <li class="list-group-item">It saves you time by enabling quicker searches through media outlets and topics.</li>
        <li class="list-group-item">Use the autocomplete window to search for an outlet or topic.</li>
        <li class="list-group-item">Then, watch the news ticker for headlines from that media outlet.</li>
        <li class="list-group-item">Page through the images by swiping (mobile) or clicking "next" or "previous".</li>
        <li class="list-group-item">If you see an interesting article, click on the image and you'll be taken to it.</li>
      </ul>
    </div>
  </div>
</template>
<style>

.about_page{

margin-top: 100px;
margin-left: auto;
margin-right: auto;
position:relative;
text-align:center;

}

</style>
